bin/
debug/
obj/

# clangd
.cache/
compile_commands.json

# index
index.json

# dataset
datasets/*

#build
build/**

# cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
index.bin
